{% extends 'portfolio-base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container mb-5 body-container" id="portfolio-container">
    <!-- Contact form -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-sm-5 mt-0" id="portfolio-row">
        <div class="col-sm-12 px-4">
            <h1>portfolio</h1>
        </div>
    </div>
</div>
{% endblock %}