{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bio/css/bio.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container mb-5 body-container" id="bio-container">
    <!-- About Row -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-5" id="about-row">
        <div class="col-sm-12 px-4">
            <div class="media">
                <img src="https://res.cloudinary.com/dktjdf0v1/image/upload/v1618784109/JamesBIckmore/IMG-20210316-WA0000_uap9hk.jpg"
                    class="mr-3 d-sm-block d-none" alt="Profile picture">
                <div class="media-body">
                    <h2 class="mt-0 pb-3 text-center text-sm-left"><strong>About James</strong> </h2>
                    {% for about in about_section %}
                    <p class="text-center text-sm-left"> {{ about.description }}</p>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <!-- Assisted -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-5" id="assisted-row">
        <div class="col-sm-12 px-4">
            <h3><strong>assisted</strong></h3>
            {% for assisted in assisted_section %}
            <p> {{ assisted.description }} </p>
            {% endfor %}
        </div>
    </div>
    <!-- Shows -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-5" id="shows-row">
        <div class="col-sm-12 px-4">
            <h3><strong>shows</strong></h3>
            {% for shows in shows_section %}
            <p> {{ shows.description }}
            </p>
            {% endfor %}
        </div>
    </div>
    <!-- Editorials -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-5" id="editorials-row">
        <div class="col-sm-12 px-4">
            <h3><strong>editorials</strong></h3>
            <p>
                Italian Vogue (online) |Emirates Woman | #Legend | Sunday Girl | Sickymag | Bricks |
                Katblut | Hope Street | Lucy’s Magazine | Notion | Noctis | Zeummag | Outnet | ASOS |
                Cosmopolitan | Fault | Commission | Eclectic | Glamour | M&amp;S (advertorial) |
                Dazed [Assisted] | Garage [Assisted] | Wonderland [Assisted] | Ralph Lauren [Assisted] |
                Danks magazine [Assisted] | Numero [Assisted] | Lula [Assisted] |
                Vogue UK &amp; Italia [Assisted] | Harper’s Bazaar [Assisted] | Agent Provocateur [Assisted] |
                Liu Jo [Assisted] | TK Maxx [Assisted] | Lumene [Assisted]
            </p>
        </div>
    </div>
    <!-- Celebrities -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-5" id="celebrities-row">
        <div class="col-sm-12 px-4">
            <h3><strong>celebrities</strong></h3>
            <p>
                Camilla Cabello | Becca Dudley | Sabrina Carpenter |
                Au/Ra | Adrian Brody | Polina | Louisa Johnson |
                Richard Thompson | Yusuf Slam (Cat Stevens) | Matt Terry |
                Imani Williams | Fifth Harmony | Fleur East |
                Ben Haenow | Jorgie Porter | Ashley Roberts |
                Ola Jordan | Edith Bowmen | Rick Edwards
            </p>
        </div>
    </div>
    <!-- Music -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-5" id="music-row">
        <div class="col-sm-12 px-4">
            <h3><strong>music</strong></h3>
            <p>
                Camila Cabello - Never Be The Same Tour |
                Camila Cabello/Taylor Swift - Reputation Tour |
                Summer Time Ball |
                Jingle Bell Ball |
                X Factor Tour 14-19 |
                Fifth Harmony Reflection Tour |
                Isle of White Festival |
                Au/Ra (Emoji video) |
                Polina: Contessa (video) |
                Yusuf Islam (Cat Stevens; video)
            </p>
        </div>
    </div>
    <!-- TV -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-5" id="tv-row">
        <div class="col-sm-12 px-4">
            <h3><strong>tv</strong></h3>
            <p>
                Britain’s Got Talent | Top of the Pops | Celebrity Juice |
                This Morning | Jonathan Ross | Loose Women |
                Alan Carr | Live Lounge | Brits | Box TV |
                Sunday Brunch | Jamie and Jimmy Friday Food Fight |
                Sunday Night at The Palladium | 4music trending |
                National Television Awards | European Music Awards 2015 |
                Stand Up To Cancer | MTV | Glamour Awards | Sports Relief | X Factor
            </p>
        </div>
    </div>
    <!-- Commercials -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-5" id="commercials-row">
        <div class="col-sm-12 px-4">
            <h3><strong>commercials</strong></h3>
            <p>
                John Lewis and Partners SS19 Shoot | John Lewis and Partners – Festive Beauty |
                John Lewis and Partners – Fashion | National Lottery |
                Dita Eye Wear | Christian Roth Eye Wear | Pro-activ + (Jorgie Porter) |
                Sheer Cover (Ashley Roberts) | Pro Active (Ola Jordan) |
                Talk Talk (X Factor) 2014 &amp; 2015 | L’Oreal New Professional product launch
            </p>
        </div>
    </div>
</div>

{% endblock %}