{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bio/css/bio.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container mb-5 body-container" id="bio-container">
    <!-- About Row -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-5" id="about-row">
        <div class="col-sm-12 px-4">
            <div class="media">
                <img src="https://res.cloudinary.com/dktjdf0v1/image/upload/v1618784109/JamesBIckmore/IMG-20210316-WA0000_uap9hk.jpg"
                    class="mr-3 d-sm-block d-none" alt="Profile picture">
                <div class="media-body">
                    <h2 class="mt-0 pb-3 text-center text-sm-left"><strong>About James</strong> </h2>
                    {% for about in about_section %}
                    <p class="text-center text-sm-left"> {{ about.description }}</p>
                    {% if request.user.is_superuser %}
                    <!-- Edit button-->
                    <div class="text-center text-sm-right">
                        <a class="btn edit-btn my-2 col-12 col-sm-2" href="{% url 'edit_about' about.id %}">Edit<span
                                class="icon p-2">
                                <i class="far fa-edit" aria-hidden="true"></i>
                            </span></a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <!-- Assisted -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-5" id="assisted-row">
        <div class="col-sm-12 px-4">
            <h3><strong>assisted</strong></h3>
            {% for assisted in assisted_section %}
            <p> {{ assisted.description }} </p>
            {% if request.user.is_superuser %}
            <!-- Edit button-->
            <div class="text-center text-sm-right">
                <a class="btn edit-btn my-2 col-12 col-sm-2" href="{% url 'edit_assisted' assisted.id %}">Edit<span class="icon p-2">
                        <i class="far fa-edit" aria-hidden="true"></i>
                    </span></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- Shows -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-5" id="shows-row">
        <div class="col-sm-12 px-4">
            <h3><strong>shows</strong></h3>
            {% for shows in shows_section %}
            <p> {{ shows.description }} </p>
            {% if request.user.is_superuser %}
            <!-- Edit  button-->
            <div class="text-center text-sm-right">
                <a class="btn edit-btn my-2 col-12 col-sm-2" href="{% url 'edit_shows' shows.id %}">Edit<span class="icon p-2">
                        <i class="far fa-edit" aria-hidden="true"></i>
                    </span></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- Editorials -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-5" id="editorials-row">
        <div class="col-sm-12 px-4">
            <h3><strong>editorials</strong></h3>
            {% for editorials in editorials_section %}
            <p> {{ editorials.description }} </p>
            {% if request.user.is_superuser %}
            <!-- Edit button-->
            <div class="text-center text-sm-right">
                <a class="btn edit-btn my-2 col-12 col-sm-2" href="{% url 'edit_editorials' editorials.id %}">Edit<span class="icon p-2">
                        <i class="far fa-edit" aria-hidden="true"></i>
                    </span></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- Celebrities -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-5" id="celebrities-row">
        <div class="col-sm-12 px-4">
            <h3><strong>celebrities</strong></h3>
            {% for celebrities in celebrities_section %}
            <p> {{ celebrities.description }} </p>
            {% if request.user.is_superuser %}
            <!-- Edit button-->
            <div class="text-center text-sm-right">
                <a class="btn edit-btn my-2 col-12 col-sm-2" href="{% url 'edit_celebrities' celebrities.id %}">Edit<span class="icon p-2">
                        <i class="far fa-edit" aria-hidden="true"></i>
                    </span></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- Music -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-5" id="music-row">
        <div class="col-sm-12 px-4">
            <h3><strong>music</strong></h3>
            {% for music in music_section %}
            <p> {{ music.description }} </p>
            {% if request.user.is_superuser %}
            <!-- Edit button-->
            <div class="text-center text-sm-right">
                <a class="btn edit-btn my-2 col-12 col-sm-2" href="{% url 'edit_music' music.id %}">Edit<span class="icon p-2">
                        <i class="far fa-edit" aria-hidden="true"></i>
                    </span></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- TV -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-5" id="tv-row">
        <div class="col-sm-12 px-4">
            <h3><strong>tv</strong></h3>
            {% for  tv in tv_section %}
            <p> {{ tv.description }} </p>
            {% if request.user.is_superuser %}
            <!-- Edit button-->
            <div class="text-center text-sm-right">
                <a class="btn edit-btn my-2 col-12 col-sm-2" href="{% url 'edit_tv' tv.id %}">Edit<span class="icon p-2">
                        <i class="far fa-edit" aria-hidden="true"></i>
                    </span></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- Commercials -->
    <div class="row no-gutters align-items-center py-5 px-3 mt-5" id="commercials-row">
        <div class="col-sm-12 px-4">
            <h3><strong>commercials</strong></h3>
            {% for commercials in commercials_section %}
            <p> {{ commercials.description }} </p>
            {% if request.user.is_superuser %}
            <!-- Edit button-->
            <div class="text-center text-sm-right">
                <a class="btn edit-btn my-2 col-12 col-sm-2" href="{% url 'edit_commercials' commercials.id %}">Edit<span class="icon p-2">
                        <i class="far fa-edit" aria-hidden="true"></i>
                    </span></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}