#bio-container .row {
    box-shadow: var(--dark-small-box-shadow);
}

#bio-container p,
#bio-container h3 {
    text-align: center;
}

#about-row {
    background-color: var(--jet);
    color: var(--white);
}

#shows-row,
#celebrities-row,
#tv-row {
    background-color: var(--platinum);
}

.media img {
    width: 264px;
    height: auto;
}
