{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
    type="text/css">
<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
<!-- favicons -->
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="https://res.cloudinary.com/hwbrfij25/image/upload/v1620489539/favicons/apple-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/hwbrfij25/image/upload/v1620489539/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/hwbrfij25/image/upload/v1620489539/favicons/favicon-16x16.png">