<header class="container-fluid header">
    <div class="row">
        <!-- logo -->
        <div class="col">
            <a href="" id="logo-a">
                <img src="{{ MEDIA_URL }}/logo/logo.png" id="header-logo" alt="logo">
            </a>
        </div>
        <!-- mobile nav -->
        {% include 'includes/layout/mobile-nav.html' %}
    </div>
    <div class="d-lg-block d-none hr-style mb-3"></div>
    <!-- main navigation -->
    {% include 'includes/layout/main-nav.html' %}
    <div class="hr-style mt-3"></div>
</header>