<div class="col d-lg-block d-none px-0">
    <nav class="navbar navbar-expand px-0">
        <button class="navbar-toggler align-self-center" type="button" data-toggle="collapse" data-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse d-lg-block d-none" id="main-nav">
            <ul class="navbar-nav w-auto mx-auto">
                {% include 'includes/layout/header-nav-items.html' %}
            </ul>
        </div>
    </nav>
</div>