<div class="col-12">
    <nav class="d-lg-none d-block navbar pt-0">
        <div class="container justify-content-end">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav"
                aria-controls="mobile-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-bars"><i class="fas fa-grip-lines"></i></span>
            </button>
        </div>
    </nav>
    <div class="collapse d-lg-none" id="mobile-nav">
        <ul class="navbar-nav ml-auto align-items-center">
            {% include 'includes/layout/header-nav-items.html' %}
        </ul>
    </div>
</div>