{% load static %}
<header class="container-fluid header">
    <div class="row">
        <!-- logo -->
        <div class="col">
            <a href="" id="logo-a">
                <img src="https://res.cloudinary.com/hwbrfij25/image/upload/v1620407239/logo/bw-logo.png" id="header-logo" alt="logo">
            </a>
            <h1 class="text-center pt-4 mb-5 mb-sm-0">hair by james bickmore</h1>
        </div>
        <!-- mobile nav -->
        {% include 'includes/layout/mobile-nav.html' %}
    </div>
    <div class="d-lg-block d-none mb-3"></div>
    <!-- main navigation -->
    {% include 'includes/layout/main-nav.html' %}
</header>