<div class="modal fade pr-0" id="close-up-modal-{{ photo.title }}" tabindex="-1" aria-labelledby="close-up-label-{{photo.title}}" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- close button -->
            <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <!-- Room view image -->
            <div class="text-center modal-body" id="close-up-label-{{photo.title}}">
                <img class="card-img-top"
                    src="{{ photo.image.url }}"
                    alt="{{ photo.title}}">
                <h3 class="mt-3 mb-0"> {{ photo.friendly_title}}</h3>
            </div>
        </div>
    </div>
</div>